<!DOCTYPE html>
<html>
<head>
	<title>Car Parking</title>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
	<link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" class="img" href="css/styles.css">
</head>
<body background="images/car.jpg" >

<span>Book Your Spot</span>

<p class="rock">
<a href="login" class="log">Log in</a>
<a href="signup" class="log"> Sign Up</a>
</p>
</body>
</html>
