<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="login">Log in-</h1>
    <button type="button" class="btn btn-dark btn-lg download-button barney" name="button" href>See Availiable Slot</button>
    <a href="SlotNo"  class="btn btn-light btn-lg download-button barney" name="button">Scan Slot Number</a>
  </body>
</html>
