<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form method="POST" action="/login/auth">
        <h1 class="login">Log in</h1>
        <input type="email" name="email" class="form-control" aria-label="Sizing example input" placeholder="Enter Email" aria-describedby="inputGroup-sizing-sm">
        <input type="password" name="password" class="form-control" aria-label="Sizing example input" placeholder="Enter Password" aria-describedby="inputGroup-sizing-sm">
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
    </div>
  </body>
</html>