<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="../public/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="login">Page 2</h1>
      <form class="form" action="/exitpage/exit" method="post">
        <input type="text" id="phonenumber" name="phnumber">
        <input type="text" id="slotno" name="slotno">
      <input type="submit" class="btn btn-danger btn-lg download-button barney" value="Exit Slot">
      </form>
    </div>
  </body>
</html>