<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Slot number</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin">

  <h1 class="h3 mb-3 font-weight-normal taylor"><b>Get the slot</b></h1>
  <label for="inputEmail" class="sr-only">Name</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Name" required autofocus>

    <label for="inputEmail" class="sr-only">Slot number</label>
  <input type="text" id="inputPassword" class="form-control" placeholder="Slot number" required>


  <button class="btn btn-dark  btn-block btn-lg katy" type="submit">Submit</button>

</form>
</body>
</html>
